.perecherkuvanue {
    text-decoration: line-through;
}

.checkboxOne {
    width: 6mm;
    height: 6mm;
    position: relative;
    top: 6.5px;
    /* margin: 0 52%;
    width: 20%; */
    /* margin-bottom: 59.032px */
}

.eddit {
    width: 25px;
    height: 25px;
    }

#taskList li{    
display: flex;
gap: 9px;
}