.perecherkuvanue {
    text-decoration: line-through;
}

.checkboxOne {
    width: 6mm;
    height: 6mm;
    position: relative;
    top: 6.5px;
}

.eddit {
    width: 25px;
    height: 25px;
    }
    
.imgSave {
    width: 25px;
    height: 25px;
}

#taskList li{    
display: flex;
gap: 9px;
margin-top: 1%;
}

#butnSelecteddAll {
    background-color: rgb(64, 216, 50);
    font-size: 15px;
}

#butnDelete{
    background-color:rgb(29, 143, 192)
}

#butnAdd {
    background-color: rgb(156, 26, 104);
    font-size: 15px;
}
.closeBtnForOne {
    background-color: aqua
}

#task-input {
    background-color: rgb(244, 227, 36);
} 

#zzz {
    background-color: plum
}

.title {
    color:rgb(120, 3, 245);
    width: 600px;
}
 
.HideSelected {
position: absolute;
bottom: 400px;
}

#HideSelected {
    bottom: -50px;
    left: 0px;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}


#HideUnSelected {
    bottom: -90px;
    left: 0px;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid #8f24dc;
}

#Active {
    bottom: -130px;
    left: 0px;
    width: 15%;
    height: 15%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid #d1b00c;
    }

.header {
    margin-left: 30px;
}
 
#HideSelected.Active {
    background-color: rgb(183, 157, 103);
}

#HideUnSelected.Active {
    background-color: rgb(142, 12, 12)
}

#Active.Active {
    background-color: blueviolet
}
.hidden {
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
    margin: 18px;
}